{% extends "layout.html" %}

{% block body %}



    <div class="jumbotron">
        <h1 class="display-4">Yazılım Bloğuma Hoşgeldiniz.</h1>
        <p class="lead">Bu blogta geliştiriciler olarak blog yazılarınızı paylaşabilir ve insanlara yardımcı olabilirsiniz.</p>
        <hr class="my-4">
        <p><p>Github python kodlarıma bakmak için <a href="https://github.com/musasahinkundakci">tıklayınız.</a></p></p>

        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://github.com/musasahinkundakci" role="button" target="_blank">Github</a>
          
        </p>
        
      </div>


{% endblock body %}